{% extends "base.html" %}
{% block content %}

<!-- End Main Banner -->
    <div class="main-content mag-content clearfix">

      <div class="row">
    <div class="col-sm-12">
      <ul class="tag-list clearfix">
        <li class="trending">#Trending</li>
        <li><a href="page_tags.html">Windows 10</a></li>
        <li><a href="page_tags.html">FIFA 2015</a></li>
        <li><a href="page_tags.html">iPhone 6</a></li>
        <li><a href="page_tags.html">Flappy Bird</a></li>
        <li><a href="page_tags.html">World Cup</a></li>
        <li><a href="page_tags.html">WeChat desktop</a></li>
        <li><a href="page_tags.html">Clash of Clans</a></li>
        <li><a href="page_tags.html">Apple Watch</a></li>
        <li><a href="page_tags.html">CES 2015</a></li>
        <li><a href="page_tags.html">Lego</a></li>
      </ul>
    </div>
</div>
      <div class="row featured-wrapper">
  <div class="col-md-12">
    <div class="flexslider">
      <div class="featured-slider">

        <div class="slider-item">
          <div class="row">
            <div class="col-md-8 omega">
              <div class="featured-big">
                <a href="#" class="featured-href">
                  <img src="img/big-thumb/featured_thumb1.jpg" alt="">
                  <div class="featured-header">
                    <span class="category bgcolor2">Gadget</span>
                    <h2>Smartwatch App Concepts You Need to See</h2>
                    <p class="simple-share">
                      by John Doe -
                      <span class="article-date">4 hours ago</span>
                    </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-md-4 alpha">
              <div class="featured-small featured-top">
                <a href="#" class="featured-href">
                  <img src="img/big-thumb/featured_thumb2.jpg" alt="">
                  <div class="featured-header">
                    <span class="category bgcolor5">PHOTO</span>
                    <h2>An Interview with Photographer John Doe</h2>
                    <p class="simple-share">
                      by John Doe -
                      <span class="article-date">4 hours ago</span>
                    </p>
                  </div>
                </a>
              </div>
              <div class="featured-small">
                <a href="#" class="featured-href">
                  <img src="img/big-thumb/featured_thumb3.jpg" alt="">
                  <div class="featured-header">
                    <span class="category bgcolor4">Business</span>
                    <h2>9 Business Leaders Share the Best and Worst Advice</h2>
                    <p class="simple-share">
                      by John Doe -
                      <span class="article-date">4 hours ago</span>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div><!-- .row -->
        </div><!-- .slider-item -->

        <div class="slider-item">
          <div class="row">
            <div class="col-md-8 omega">
              <div class="featured-big">
                <a href="#" class="featured-href">
                  <img src="img/big-thumb/featured_thumb4.jpg" alt="">
                  <div class="featured-header">
                    <span class="category bgcolor2">Gadget</span>
                    <h2>Audio Equalizer Apps Beyond the Smartphone Sound</h2>
                    <p class="simple-share">
                      by John Doe -
                      <span class="article-date">25 minutes ago</span>
                    </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-md-4 alpha">
              <div class="featured-small featured-top">
                <a href="#" class="featured-href">
                  <img src="img/big-thumb/featured_thumb5.jpg" alt="">
                  <div class="featured-header">
                    <span class="category bgcolor3">Food</span>
                    <h2>How to Make Japanese-style sushi?</h2>
                    <p class="simple-share">
                      by John Doe -
                      <span class="article-date">4 hours ago</span>
                    </p>
                  </div>
                </a>
              </div>
              <div class="featured-small">
                <a href="#" class="featured-href">
                  <img src="img/big-thumb/featured_thumb6.jpg" alt="">
                  <div class="featured-header">
                    <span class="category bgcolor5">Photo</span>
                    <h2>The 20 most important Instagram pictures</h2>
                    <p class="simple-share">
                      by John Doe -
                      <span class="article-date">4 hours ago</span>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div><!-- .row -->
        </div><!-- .slider-item -->

      </div><!-- .featured-slider -->
    </div><!-- .flexslider -->
  </div>
</div><!-- .featured-wrapper -->
      <div class="row main-body">
        <div class="col-md-12">
          <h3 class="block-title"><span>Latest News</span></h3>

          <div class="row">
            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb15.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Advice
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      7 Tips for Creating a Functional Home Workspace
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>

            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb29.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Travel
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      6 Tips Before Traveling Internationally
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 46 minutes ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb3.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Advice
                </a>
                <div class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      How To Be More Friendly And Social
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 2 hours ago</span>
                  </p>
                </div>
              </article><!-- News block -->
            </div>

            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb27.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Fashion
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      5 Spring Outfits For Under $200
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 4 hours ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>

          <!-- Mid ad -->
<div class="row">
   <div class="col-md-12">
     <div class="ad728-wrapper mid-wrapper">
       <a href="#">
         <img src="img/ban728.jpg" alt="">
       </a>
     </div>
   </div>
</div>
<!-- End Mid ad -->
          <div class="row">
            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <span class="play-button"><i class="fa fa-play"></i></span>
                    <img src="img/big-thumb/big_thumb28.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Love
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      9 Reasons To Run in the Morning
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 6 hours ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>

            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb6.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Advice
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      Never Ask a Busy Person to Lunch
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 4 hours ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <span class="play-button"><i class="fa fa-play"></i></span>
                    <img src="img/big-thumb/big_thumb26.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Food
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      How to Make Perfect Homemade Pizza
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>

            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb5.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Advice
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      10 Tips for Taking Great Outdoor Photos
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 13 hours ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb4.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Food
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      How Can I Find a Coffee Shop That'll Actually Let Me Work?
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> Yesterday</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>

            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb2.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Gadget
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      5 Gadget Gifts for Father's Day
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> Yesterday</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb1.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Mobile
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      4 apps that every smartphone must get right
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> Yesterday</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>

            <div class="col-md-6">
              <article class="news-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="img/big-thumb/big_thumb8.jpg" alt="">
                  </figure>
                </a>
                <a href="#" class="category">
                  Mobile
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      The Partnership of Coffee and Tech
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> Yesterday</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>

          <div class="load-more">
            <button type="button" class="btn btn-lg btn-block">Load more</button>
          </div>

        </div>
      </div>

    </div><!-- .main-content -->

    <!-- End Main Banner -->
<div class="mag-content clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="ad728-wrapper">
        <a href="#">
          <img src="img/ban728.jpg" alt=""/>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner -->
  </div><!-- .main-wrapper -->





{% endblock %}
